<section class="api">
	<h2 class="api__title">Cloverly API</h2>
	<p class="api__text">
		Cloverly's powerful API calculates the impact of common carbon-intensive activities in real time and uses verified, quality carbon offset projects to neutralize them. Ready to get started? Create an account to integrate the Cloverly API for free, or contact us for custom solutions.
	</p>
	<div class="api__button-wrapper">
		<a href="#" class="api__button button">Get Started for Free</a>
		<a href="#" class="api__button button">Let's Talk</a>
	</div>
</section>