<section class="banner-cta">
	<div class="banner-cta__container">
		<h2 class="banner-cta__title">What Activities Will You Offset?</h2>
		<p class="banner-cta__text">Neutralize your carbon footprint with the Cloverly API.</p>
		<a href="#" class="banner-cta__link">Try Cloverly</a>
	</div>
</section>