<section class="cases">
	<h2 class="cases__title">Use Cases</h2>
	<p class="cases__slogan">
		Used in Every Environment, to Save the Environment
	</p>
	<p class="cases__intro">
		There are many sources of carbon emissions, including some that we don't typically associate with environmental impacts. For example, even cloud computing requires physical servers powered by electricity. Below are a few common use cases for carbon offsetting.
	</p>
	<ul class="cases__list">
		<li class="cases__item">
			<article class="case">
				<h3 class="case__title">Ecommerce</h3>
				<p class="cases__text">
					See how Cloverly partners are offsetting ecommerce shipments through Shopify, BigCommerce, Magento, and custom integrations.
				</p>
				<a href="#" class="case__link">Read More</a>
			</article>
		</li>
		<li class="cases__item">
			<article class="case">
				<h3 class="case__title">Rideshare</h3>
				<p class="cases__text">
					Miles traveled and carbon emitted can be easily calculated and offset in real time with Cloverly.
				</p>
				<a href="#" class="case__link">Read More</a>
			</article>
		</li>
		<li class="cases__item">
			<article class="case">
				<h3 class="case__title">Flights</h3>
				<p class="cases__text">
					Take off the carbon impact of aviation. With the Cloverly API, calculate and offset miles flown and impact generated.
				</p>
				<a href="#" class="case__link">Read More</a>
			</article>
		</li>
		<li class="cases__item">
			<article class="case">
				<h3 class="case__title">Enterprise Resource Planning</h3>
				<p class="cases__text">
					Learn how enterprise software companies are using the Cloverly integration to offset their environmental effects.
				</p>
				<a href="#" class="case__link">Read More</a>
			</article>
		</li>
		<li class="cases__item">
			<article class="case">
				<h3 class="case__title">Energy</h3>
				<p class="cases__text">
					Find out how the energy industry is using carbon offsets to make a difference and create a more sustainable world.
				</p>
				<a href="#" class="case__link">Read More</a>
			</article>
		</li>
		<li class="cases__item">
			<article class="case">
				<h3 class="case__title">Supply Chain</h3>
				<p class="cases__text">
					Calculate offsets based on your supply chain, make a difference, and see how others are doing it, too.
				</p>
				<a href="#" class="case__link">Read More</a>
			</article>
		</li>
		<li class="cases__item">
			<article class="case">
				<h3 class="case__title">Fintech</h3>
				<p class="cases__text">
					Cloverly can help identify carbon footprints based on financial transaction data and purchase the offsets needed to mitigate these effects.
				</p>
				<a href="#" class="case__link">Read More</a>
			</article>
		</li>
		<li class="cases__item">
			<article class="case">
				<h3 class="case__title">Fleet</h3>
				<p class="cases__text">
					You track mileage and fuel economy for your vehicle fleet. So you already have the data the Cloverly API needs to calculate and offset the carbon impact.
				</p>
				<a href="#" class="case__link">Read More</a>
			</article>
		</li>
	</ul>
	<p class="cases__slogan">Don't See Your Industry?</p>
	<p class="cases__text">
		Cloverly can accommodate a variety of use cases for many different carbon-producing activities. Even if you don't see your industry here or you're not sure what activities to offset, we can help. Reach out to Cloverly and let us get you on the path to net-zero carbon emissions.
	</p>
	<a href="#" class="cases__buton button">Contact Us</a>
</section>