<section class="developers">
	<h2 class="developers__title">For Developers, By Developers</h2>
	<p class="developers__slogan"> Simple Integration. RESTful API.</p>
	<p class="developers__text">
		The Cloverly API calculates and offsets carbon emissions on a per-transaction basis. We can determine the amount of carbon emitted and offset that quantity by purchasing carbon offsets in real time. Explore our developer docs to find the right endpoints for your application, and sign up for free to get the Cloverly sandbox keys.
	</p>
	<div class="developers__button-wrapper">
		<a href="#" class="developers__button button">Get API Keys</a>
		<a href="#" class="developers__button button">Developers Docs</a>
	</div>
</section>