<footer class="footer container">
	<a href="/" class="footer__link logo">
		<img class="logo__img" src="/img/logo.svg" width="111" height="30" alt="Cloverly text logo">
	</a>
	<ul class="footer__user-menu user-menu">
		<li class="user-menu__item">
			<a href="/login/" class="user-menu__link button">Login</a>
		</li>
		<li class="nav__item">
			<a href="/api-keys/" class="user-menu__link button">Get API Keys</a>
		</li>
	</ul>
	<div class="footer__container">
		<div class="footer__column">
			<h2 class="footer__column-title">Product</h2>
			<ul class="footer__list">
				<li class="footer__item">
					<a href="#" class="footer__link">Emission Calculations</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Diverse Offset Portfolio</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Matching the Offset</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Transparent Reporting</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Flexible API Integration</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Verified Carbon Offsets</a>
				</li>
			</ul>
		</div>
		<div class="footer__column">
			<h2 class="footer__column-title">Use Cases</h2>
			<ul class="footer__list">
				<li class="footer__item">
					<a href="#" class="footer__link">Ecommerce</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Rideshare</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Flights</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Enterprise Resource Planning</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Energy</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Supply Chain</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Fintech</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Fleet</a>
				</li>
			</ul>
		</div>
		<div class="footer__column">
			<h2 class="footer__column-title">Developers</h2>
			<ul class="footer__list">
				<li class="footer__item">
					<a href="#" class="footer__link">API Docs</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Ask Cloverly</a>
				</li>
			</ul>
		</div>
		<div class="footer__column">
			<h2 class="footer__column-title">About</h2>
			<ul class="footer__list">
				<li class="footer__item">
					<a href="#" class="footer__link">How It Works</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Offset Projects</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Partners</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">About Us</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Blog</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">News & Press</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Contact</a>
				</li>
			</ul>
		</div>
		<div class="footer__column">
			<ul class="footer__list">
				<li class="footer__item">
					<a href="#" class="footer__link">FAQ</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Careers</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Terms of Service</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link">Privacy Policy</a>
				</li>
			</ul>
		</div>
	</div>
	<p class="copyright">© 2020 Cloverly</p>
</footer>
