<section class="guide">
	<div>
		<h2 class="guide__title subheading">How It Works</h2>
		<h3 class="guide__slogan">
			Connecting the Carbon Offset Infrastructure for a More Sustainable World
		</h3>
		<p class="guide__intro">
			Businesses and consumers count on Cloverly to offset their carbon footprint and create positive environmental change based on real-time business activities. Whether you implement our ready-to-use applications or install our API as part of a custom integration, Cloverly can help you go greener, faster.
		</p>
		<a href="#" class="guide__link">Learn More</a>
	</div>
	<ul class="guide__steps">
		<li class="guide__step">
			<article class="step">
				<h4 class="step__title step__title--icon-map">Matching the Offset</h4>
				<p class="step__text">
					The Cloverly API can find and match the best offset per transaction. If your customer orders a product in California, for example, we might partner with an improved forest management project in California to keep the benefit local.
				</p>
			</article>
		</li>
		<li class="guide__step">
			<article class="step">
				<h4 class="step__title">Transaction Transparency</h4>
				<p class="step__text">
					We believe in transparency and fully validated transactions. That's why every time you (or your customers) choose to offset an emission-producing activity with Cloverly, we provide real-time transactional data to show the location, type, and amount of carbon offset.
				</p>
			</article>
		</li>
		<li class="guide__step">
			<article class="step">
				<h4 class="step__title">Verified Sources</h4>
				<p class="step__text">
					To effectively neutralize carbon emissions, we know that quality matters. That's why Cloverly works with reputable, internationally recognized suppliers who track and verify registered carbon offset projects.
				</p>
			</article>
		</li>
	</ul>
</section>