<section class="hero full-bleed">
	<div class="container">
		<p class="hero__cloud">Sustainability on Demand</p>
		<h2 class="hero__title">
			<a href="#" class="hero__link">Helping the World Go&nbsp;Carbon Neutral</a>
		</h2>
		<p class="hero__desc">
			Our Sustainability-as-a-Service platform calculates and purchases carbon offsets to neutralize the environmental impact of everyday activities like ecommerce deliveries, ridesharing, flights, and more.
		</p>
		<div class="hero__button-wrapper">
			<a href="#" class="hero__link button">Get Started</a>
			<a href="#" class="hero__link button button--inverse">Let's Talk</a>
		</div>
		{% include "ui-showcase.njk" %}
		{% include "partners.njk" %}
	</div>
</section>