<section class="hero">
	<h2 class="hero__title">
		<a href="#" class="hero__link">Helping the World Go Carbon Neutral</a>
	</h2>
	<p class="hero__desc">
		Our Sustainability-as-a-Service platform calculates and purchases carbon offsets to neutralize the environmental impact of everyday activities like ecommerce deliveries, ridesharing, flights, and more.
	</p>
	<div>
		<a href="#" class="hero__link button">Get Started</a>
		<a href="#" class="hero__link button">Let's Talk</a>
	</div>
</section>