<ul class="partners">
	<li class="partners__item">
		<a href="#" class="partners__link">
			<img src="/img/logo-looker.png" width="132" height="35" alt="" class="partners__logo">
		</a>
	</li>
	<li class="partners__item">
		<a href="#" class="partners__link">
			<img src="/img/logo-sustainability-award.png" width="92" height="92" alt="" class="partners__logo">
		</a>
	</li>
	<li class="partners__item">
		<a href="#" class="partners__link">
			<img src="/img/logo-tech-crunch.png" width="79" height="55" alt="" class="partners__logo">
		</a>
	</li>
	<li class="partners__item">
		<a href="#" class="partners__link">
			<img src="/img/logo-shopify.png" width="160" height="47" alt="" class="partners__logo">
		</a>
	</li>
	<li class="partners__item">
		<a href="#" class="partners__link">
			<img src="/img/logo-big-commerce.png" width="200" height="45" alt="" class="partners__logo">
		</a>
	</li>
</ul>