<section class="partner-spotlight">
	<h2 class="partner-spotlight__title subheading">Partner Spotlight</h2>
	<img src="/img/partners.jpg" width="572" height="972" alt="" class="parther-spotlight__img">
	<p class="partner-spotlight__intro">
		At the JOIN data conference, the team from Looker (now part of Google) used data provided by attendees to determine the carbon footprint of their travel to the conference and offset it with Cloverly.
	</p>
	<p class="partner-spotlight__quote">
		We built a little Javascript application to let you select how much of your carbon footprint you wanted to offset and then got an estimated price via Cloverly, which provides a simple API for purchasing Renewable Energy Certificates (RECs). Once we had the estimate from Cloverly, which helpfully tells you not just cost, but also where the RECs you're purchasing will come from, we approved the purchase and executed it via the API.
	</p>
	<a href="#" class="partner-spotlight__link">Read Full Story</a>
	<a href="#" class="partner-spotlight__logo">
		<img src="/img/logo-google-looker.png" width="151" height="25" alt="" class="partner-spotlight__logo-img">
	</a>
	<p class="partner-spotlight__author">
		<span>Daniel Mintz</span>
		<span>Chief Data Evangelist at Looker</span>
	</p>
	<a href="#" class="partner-spotlight__button">More Partners</a>
</section>