<ul class="ui-showcase">
	<li class="ui-showcase__item">
		<img src="/img/checkout.png" width="377" height="616" alt="">
	</li>
	<li class="ui-showcase__item">
		<img src="/img/terminal.png" width="935" height="335" alt="">
	</li>
	<li class="ui-showcase__item">
		<img src="/img/map-widget.png" width="323" height="322" alt="">
	</li>
	<li class="ui-showcase__item">
		<img src="/img/account-dashboard.png" width="668" height="540" alt="">
	</li>
</ul>