.button {
	display: flex;
	justify-content: center;
	padding: 1em;
	border-radius: 50px;
	min-height: 50px;
	min-width: 158px;
	background-color: #ffffff;
	color: #24475B;
}

.button--inverse {
	background-color: #192F44;
	color: #ffffff;
}

.button--accent {
	background-color: #00CA90;
	color: #ffffff;
}