.hero {
	background-color: #1FBD8A;
	padding: 1em;
}

.hero__title {
	margin: 0;
	font-weight: 400;
	font-size: 32px;
	line-height: 1.3;
}

.hero__link {
	color: #ffffff;
}

.hero__cloud {
	font-weight: 400;
	font-size: 15px;
	line-height: 1;
	padding: 0.5em 1em;
	border-radius: 33px;
	display: inline-block;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.25);
}

.hero__desc {
	color: #ffffff;
	font-size: 18px;
	line-height: 1.44;
}

.hero__button-wrapper {
	display: flex;
	gap: 12px;
	justify-content: center;
	flex-wrap: wrap;
}